{% extends 'teacher/base.html' %}
{% load static %}


{% block content %}

<script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}" ></script>

    <div class="" >
            <h4>Module #{{ moduleinfo.volgnr }}:&nbsp;{{ moduleinfo.section }}&nbsp;-&nbsp;-&nbsp;{{ module.title }}</h4>
            <div class="row">
                <div class="col-md-2">
                    <ul>
                    {% for unit in units.all %}
                        {% if unit.id ==  activeunit.id %}
                        <li>
                            <a href="{% url 'teachers:module' module.id course.id unit.id %}">
                                <i class="fa fa-arrow-right"></i>
                                <b>{{ unit.title }}</b></a>
                        </li>
                        {% else %}
                        <li><a href="{% url 'teachers:module' module.id course.id unit.id %}">{{ unit.title }}</a></li>
                        {% endif %}
                    {% empty %}
                        <h3>No objects in list</h3>
                    {% endfor %}
                    </ul>
                </div>
                <div class="col-md-10" style="height: 450px; border-top: 1px solid black; border-left: 1px solid black">


                    <form action="{% url 'teachers:module' module.id course.id activeunit.id %}" method="post">
                        {% csrf_token %}
<!--                        <input type="text" class="ckeditor" name="editor1" value="{{ activeunit.content }}">-->
                        <textarea class="ckeditor" name="editor1">{{ activeunit.content }}</textarea>
                        <input type="submit" value="Submit">
                    </form>

                </div>
            </div>
    </div>
    <script>
        CKEDITOR.replace( 'editor1', {height: 400} );
    </script>

    {% block extrajs %}
    <script type="text/javascript">
$(function(){
       // APPLY THE EDITOR TO THE TEXTAREA
       $(".wysiwyg").ckeditor();

       // FIXING THE MODAL/CKEDITOR ISSUE
       $(".modal").removeAttr("tabindex");
});
    </script>
    {% endblock extrajs %}

{% endblock  %}

